<div class="box box-pane">
    <div class="box-header">
        <i class="fa  fa-file-text-o"></i>
        <h3 class="box-title">Credenciamentos por Contrato</h3>
        <div class="pull-right box-tools">
            <button type="button" class="btn btn-success btn-sm" data-widget="collapse">
                <i class="fa fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="box-body no-padding">
        <div style="padding:0px 0px 0px 0px">
            De:<input type="date" id="dataInicioContrato"> Até <input type="date" id="dataFimContrato">&nbsp;&nbsp;&nbsp;&nbsp;<button class="btn btn-default" id="checkbtn" onclick="verificarGraficoContrato();" type="button" data-dismiss="modal"><span class="glyphicon glyphicon-check"></span> Verificar</button>
        </div>
         <div id="GraficoContratoStatus"></div>
    </div>
    <div class="box-footer text-black">
        <div class="row">
        </div>
    </div>
</div>
